aside {
position: fixed;
background-color: blueviolet;
height: 90%;
width: 200px;
font-size: 1.8rem;
}

ul {
    padding: 1rem;
    list-style: none;
   
} 
a {
text-decoration: none;
color: aliceblue;
}
a:hover{
    color: khaki;
}